In [1]:
import pandas as pd

In [2]:
def load_txt(file):
    with open(file, encoding='utf8') as f:
        return ' '.join(line.strip() for line in f.readlines())

In [3]:
textfile = load_txt('./Assignment 4 attached files 20 April 2023 312 PM/trainSS.txt')

In [4]:
textfile[:1000]

'3A38A 83 A\tA\tP\tA\tN\tA\tV\tT\tA\tD\tD\tP\tT\tA\tX\tA\tL\tK\tY\tN\tQ\tD\tA\tT\tK\tS\tE\tR\tV\tA\tA\tA\tR\tP\tG\tL\tP\tP\tE\tE\tQ\tH\tC\tA\tN\tC\tQ\tF\tM\tQ\tA\tN\tV\tG\tE\tG\tD\tW\tK\tG\tC\tQ\tL\tF\tP\tG\tK\tL\tX\tN\tV\tN\tG\tW\tC\tA\tS\tW\tT\tL\tK\tA\tG C\tC\tC\tC\tC\tE\tC\tC\tC\tC\tC\tH\tH\tH\tH\tH\tH\tC\tC\tE\tC\tC\tH\tH\tH\tC\tC\tH\tH\tH\tH\tC\tC\tC\tC\tC\tC\tH\tH\tH\tC\tC\tH\tH\tH\tE\tC\tC\tE\tE\tE\tE\tE\tE\tE\tC\tC\tE\tE\tE\tE\tC\tC\tC\tC\tC\tC\tE\tE\tE\tC\tC\tC\tE\tC\tC\tC\tC\tC\tE\tC\tC\tC 2VB1A 129 K\tV\tF\tG\tR\tC\tE\tL\tA\tA\tA\tM\tK\tR\tH\tG\tL\tD\tN\tY\tR\tG\tY\tS\tL\tG\tN\tW\tV\tC\tA\tA\tK\tF\tE\tS\tN\tF\tN\tT\tQ\tA\tT\tN\tR\tN\tT\tD\tG\tS\tT\tD\tY\tG\tX\tL\tQ\tX\tN\tS\tR\tW\tW\tC\tN\tD\tG\tR\tT\tP\tG\tS\tR\tN\tL\tC\tN\tX\tP\tC\tS\tA\tL\tL\tS\tS\tD\tX\tT\tA\tS\tV\tN\tC\tA\tK\tK\tX\tV\tS\tD\tG\tN\tG\tM\tN\tA\tW\tV\tA\tW\tR\tN\tR\tC\tK\tG\tT\tD\tV\tQ\tA\tW\tX\tR\tG\tC\tR\tL C\tE\tC\tC\tH\tH\tH\tH\tH\tH\tH\tH\tH\tH\tC\tC\tC\tC\tC\tE\tC\tC\tE\tC\tH\tH\tH\tH\tH\tH\tH\tH\tH\tH\tH\tH\tC\tC\tE\tC\tC\tC\tE\tE\tE\tC\tC\tC\tC\tC\tE\tE\tE\tC\tC\tC\tC\tE\tE\tC\tC\tC\tC\tC\tE\tC\tC\tC\tC\tC\tC\tC\tC\tC\tC\tC\tC\tC\tE\tH\tH\tH\tH\tH\tC\tC\tC\tC\tH\tH\tH\tH\tH\tH\tH\tH\tH\tH\tH\tH\tC\tC\tC\tC\tH\tH\tH\tC\tH\tH\tH\tH\tH\tH\tC\tC\tC\tC\tC\tH\tH\tH\tH\tC\tC\tC\tC\tC\tC 1R6JA 82 G\tA\tM\tD\tP\tR\tT\tX\tT\tM\tH\tK\tD\tS\tT\tG\tH\tV\tG\tF\tX\tF\tK\tN\tG\tK\tX\tT\tS\tX\tV\tK\tD\tS\tS\tA\tA\tR\tN\tG\tL\tL\tT\tE\tH\tN\tX\tC\tE\tX\tN\tG\tQ\tN\tV\tX\tG\tL\tK\tD\tS\tQ\t'

In [5]:
print(textfile[:1000])

3A38A 83 A	A	P	A	N	A	V	T	A	D	D	P	T	A	X	A	L	K	Y	N	Q	D	A	T	K	S	E	R	V	A	A	A	R	P	G	L	P	P	E	E	Q	H	C	A	N	C	Q	F	M	Q	A	N	V	G	E	G	D	W	K	G	C	Q	L	F	P	G	K	L	X	N	V	N	G	W	C	A	S	W	T	L	K	A	G C	C	C	C	C	E	C	C	C	C	C	H	H	H	H	H	H	C	C	E	C	C	H	H	H	C	C	H	H	H	H	C	C	C	C	C	C	H	H	H	C	C	H	H	H	E	C	C	E	E	E	E	E	E	E	C	C	E	E	E	E	C	C	C	C	C	C	E	E	E	C	C	C	E	C	C	C	C	C	E	C	C	C 2VB1A 129 K	V	F	G	R	C	E	L	A	A	A	M	K	R	H	G	L	D	N	Y	R	G	Y	S	L	G	N	W	V	C	A	A	K	F	E	S	N	F	N	T	Q	A	T	N	R	N	T	D	G	S	T	D	Y	G	X	L	Q	X	N	S	R	W	W	C	N	D	G	R	T	P	G	S	R	N	L	C	N	X	P	C	S	A	L	L	S	S	D	X	T	A	S	V	N	C	A	K	K	X	V	S	D	G	N	G	M	N	A	W	V	A	W	R	N	R	C	K	G	T	D	V	Q	A	W	X	R	G	C	R	L C	E	C	C	H	H	H	H	H	H	H	H	H	H	C	C	C	C	C	E	C	C	E	C	H	H	H	H	H	H	H	H	H	H	H	H	C	C	E	C	C	C	E	E	E	C	C	C	C	C	E	E	E	C	C	C	C	E	E	C	C	C	C	C	E	C	C	C	C	C	C	C	C	C	C	C	C	C	E	H	H	H	H	H	C	C	C	C	H	H	H	H	H	H	H	H	H	H	H	H	C	C	C	C	H	H	H	C	H	H	H	H	H	H	C	C	C	C	C	H	H	H	H	C	C	C	C	C	C 1R6JA 82 G	A	M	D	P	R	T	X	T	M	H	K	D	S	T	G	H	V	G	F	X	F	K	N	G	K	X	T	S	X	V	K	D	S	S	A	A	R	N	G	L	L	T	E	H	N	X	C	E	X	N	G	Q	N	V	X	G	L	K	D	S	Q

In [6]:
cols = textfile.split(" ")
new_text = "\n".join([ ", ".join(cols[i:i+4]) for i in range(0, len(cols), 4)])

print(new_text[:1000])

3A38A, 83, A	A	P	A	N	A	V	T	A	D	D	P	T	A	X	A	L	K	Y	N	Q	D	A	T	K	S	E	R	V	A	A	A	R	P	G	L	P	P	E	E	Q	H	C	A	N	C	Q	F	M	Q	A	N	V	G	E	G	D	W	K	G	C	Q	L	F	P	G	K	L	X	N	V	N	G	W	C	A	S	W	T	L	K	A	G, C	C	C	C	C	E	C	C	C	C	C	H	H	H	H	H	H	C	C	E	C	C	H	H	H	C	C	H	H	H	H	C	C	C	C	C	C	H	H	H	C	C	H	H	H	E	C	C	E	E	E	E	E	E	E	C	C	E	E	E	E	C	C	C	C	C	C	E	E	E	C	C	C	E	C	C	C	C	C	E	C	C	C
2VB1A, 129, K	V	F	G	R	C	E	L	A	A	A	M	K	R	H	G	L	D	N	Y	R	G	Y	S	L	G	N	W	V	C	A	A	K	F	E	S	N	F	N	T	Q	A	T	N	R	N	T	D	G	S	T	D	Y	G	X	L	Q	X	N	S	R	W	W	C	N	D	G	R	T	P	G	S	R	N	L	C	N	X	P	C	S	A	L	L	S	S	D	X	T	A	S	V	N	C	A	K	K	X	V	S	D	G	N	G	M	N	A	W	V	A	W	R	N	R	C	K	G	T	D	V	Q	A	W	X	R	G	C	R	L, C	E	C	C	H	H	H	H	H	H	H	H	H	H	C	C	C	C	C	E	C	C	E	C	H	H	H	H	H	H	H	H	H	H	H	H	C	C	E	C	C	C	E	E	E	C	C	C	C	C	E	E	E	C	C	C	C	E	E	C	C	C	C	C	E	C	C	C	C	C	C	C	C	C	C	C	C	C	E	H	H	H	H	H	C	C	C	C	H	H	H	H	H	H	H	H	H	H	H	H	C	C	C	C	H	H	H	C	H	H	H	H	H	H	C	C	C	C	C	H	H	H	H	C	C	C	C	C	C
1R6JA, 82, G	A	M	D	P	R	T	X	T	M	H	K	D	S	T	G	H	V	G	F	X	F	K	N	G	K	X	T	S	X	V	K	D	S	S	A	A	R	N	G	L	L	T	E	H	N	X	C	E	X	N	G	Q	N	V	X	G	L

In [7]:
from io import StringIO

In [85]:
new_text = new_text.replace("\t", "" )

data = StringIO(new_text)

df = pd.read_csv(data, sep=", ", header=None)

C:\Users\User\AppData\Local\Temp\ipykernel_22652\2283741781.py:5: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(data, sep=", ", header=None)

In [86]:
df = df.rename(columns={0: 'PDB', 1:"AA_len", 2:"AA_seq", 3:"SS"})

In [87]:
df

,PDB,AA_len,AA_seq,SS
0,3A38A,83,AAPANAVTADDPTAXALKYNQDATKSERVAAARPGLPPEEQHCANC...,CCCCCECCCCCHHHHHHCCECCHHHCCHHHHCCCCCCHHHCCHHHE...
1,2VB1A,129,KVFGRCELAAAMKRHGLDNYRGYSLGNWVCAAKFESNFNTQATNRN...,CECCHHHHHHHHHHCCCCCECCECHHHHHHHHHHHHCCECCCEEEC...
2,1R6JA,82,GAMDPRTXTMHKDSTGHVGFXFKNGKXTSXVKDSSAARNGLLTEHN...,CCCCCEEEEEECCCCCCCCEEEECCEEEEECCCCHHHHHCCCCCEE...
3,1P9GA,41,XTCASRCPRPCNAGLCCSXYGYCGSGAAYCGAGNCRCQCRG,CCHHHHCCCCCCCCCEEECCCCEECCHHHHCCCCEEECCCC
4,1YK4A,52,AKLSCKXCGYXYDEDEGDPDNGXSPGTKFEDLPDDWVCPLCGAPKS...,CEEEECCCCCEEECCCCEHHHCECCCCCHHHCCCCCECCCCCCEHH...
...,...,...,...,...
11855,2DO0A,114,GSSGSSGALQAGRLGSTVFVANLDYKVGWKKLKEVFSMAGVVVRAD...,CCCCCCCCCCCCCCCCCEEEECCCCCCCHHHHHHHHCCCCCEEEEE...
11856,1TTEA,215,SSRAKRXMKEXQAVKDDPAAHXTLEFVSESDXHHLKGTFLGPPGTP...,CCCHHHHHHHHHHHHCCCCCCCEECCCCCCCCCEEEEECCEEEEEC...
11857,3LVGE,116,XXXXXXXXXXXXXXXAQADRLTQEPESXRKWREEQRKRLQELDAAS...,CCCHHHCCCCCCCCCCCCCCCCCCCCHHHHHHHHHCCCCCHHHHHH...
11858,3LVGB,553,NTSAVQVLXEHXGNLDRAYEFAERCNEPAVWSQLAKAQLQKGMVKE...,CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCHHHHCCCCCCCHH...
11859,3LVGD,180,XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX...,CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCHHHHCCCCCHH...

#### Unweighted functions

In [88]:
def most_common(arr):
    return max(set(arr), key=arr.count)

def five_near_unweighted(arr1, arr2):
    new_str=""
    #first element
    temp = arr2[:3]
    new_str+=most_common(temp)
    #second element
    temp = arr2[:4]
    new_str+=most_common(temp)
    #others
    for i in range(2, len(arr1)-2):
        temp = arr2[i-2:i+3]
        new_str+=most_common(temp)
        
    #seond last element
    temp = arr2[-4:]
    new_str+=most_common(temp)
    #last element
    temp = arr2[-3:]
    new_str+=most_common(temp)
    
    return new_str

def three_near_unweighted(arr1, arr2):
    new_str=""
    #first element
    temp = arr2[:2]
    new_str+=most_common(temp)
    #others
    for i in range(1, len(arr1)-1):
        temp = arr2[i-1:i+2]
        new_str+=most_common(temp)
    #last element
    temp = arr2[-2:]
    new_str+=most_common(temp)
    
    return new_str

In [89]:
a = df["AA_seq"].iloc[0]
s = df["SS"].iloc[0]

print(a[i-1:i+2])

print(a)
print(s)


test = five_near_unweighted(a, s)
test2 = three_near_unweighted(a, s)

print(''.join(test), len(test), len(a))
print(''.join(test2), len(test2), len(a))

LKA
AAPANAVTADDPTAXALKYNQDATKSERVAAARPGLPPEEQHCANCQFMQANVGEGDWKGCQLFPGKLXNVNGWCASWTLKAG
CCCCCECCCCCHHHHHHCCECCHHHCCHHHHCCCCCCHHHCCHHHECCEEEEEEECCEEEECCCCCCEEECCCECCCCCECCC
CCCCCCCCCCCHHHHHHCCCCCHHHHHHHHHCCCCCCHHHHHHHHCCEEEEEEEEEEEEEECCCCCCEEECCCCCCCCCCCCC 83 83
CCCCCCCCCCCHHHHHHCCCCCHHHCCHHHHCCCCCCHHHCCHHHCCCEEEEEEECCEEEECCCCCCEEECCCCCCCCCCCCC 83 83

In [90]:
df["SS_3_window_unweighted"] = df.apply(lambda row: three_near_unweighted(row.AA_seq, row.SS), axis=1)

In [91]:
df["SS_5_window_unweighted"] = df.apply(lambda row: five_near_unweighted(row.AA_seq, row.SS), axis=1)

In [431]:
df

,PDB,AA_len,AA_seq,SS,SS_3_window_unweighted,SS_5_window_unweighted,SS_3_weighted,SS_5_weighted
0,3A38A,83,AAPANAVTADDPTAXALKYNQDATKSERVAAARPGLPPEEQHCANC...,CCCCCECCCCCHHHHHHCCECCHHHCCHHHHCCCCCCHHHCCHHHE...,CCCCCCCCCCCHHHHHHCCCCCHHHCCHHHHCCCCCCHHHCCHHHC...,CCCCCCCCCCCHHHHHHCCCCCHHHHHHHHHCCCCCCHHHHHHHHC...,CCCCCCCCCCCHHHHHHCCCCCHHHCCHHHHCCCCCCHHHCCHHHE...,CCCCCCCCCCCHHHHHHCCCCCHHHCCHHHHCCCCCCHHHCCHHHC...
1,2VB1A,129,KVFGRCELAAAMKRHGLDNYRGYSLGNWVCAAKFESNFNTQATNRN...,CECCHHHHHHHHHHCCCCCECCECHHHHHHHHHHHHCCECCCEEEC...,CCCCHHHHHHHHHHCCCCCCCCCCHHHHHHHHHHHHCCCCCCEEEC...,CCCCHHHHHHHHHHCCCCCCCCCCHHHHHHHHHHHHCCCCCCEEEC...,CCCCHHHHHHHHHHCCCCCCCCCCHHHHHHHHHHHHCCCCCCEEEC...,CCCCHHHHHHHHHHCCCCCCCCCCHHHHHHHHHHHHCCCCCCEEEC...
2,1R6JA,82,GAMDPRTXTMHKDSTGHVGFXFKNGKXTSXVKDSSAARNGLLTEHN...,CCCCCEEEEEECCCCCCCCEEEECCEEEEECCCCHHHHHCCCCCEE...,CCCCCEEEEEECCCCCCCCEEEECCEEEEECCCCHHHHHCCCCCEE...,CCCCCEEEEEECCCCCCCCEEEEEEEEEEECCCCHHHHHCCCCCEE...,CCCCCEEEEEECCCCCCCCEEEECCEEEEECCCCHHHHHCCCCCEE...,CCCCCEEEEEECCCCCCCCEEEECCEEEEECCCCHHHHHCCCCCEE...
3,1P9GA,41,XTCASRCPRPCNAGLCCSXYGYCGSGAAYCGAGNCRCQCRG,CCHHHHCCCCCCCCCEEECCCCEECCHHHHCCCCEEECCCC,CCHHHHCCCCCCCCCEEECCCCEECCHHHHCCCCEEECCCC,CCHHHHCCCCCCCCCEEECCCCCCCCHHHHCCCCEEECCCC,CCHHHHCCCCCCCCCEEECCCCEECCHHHHCCCCEEECCCC,CCHHHHCCCCCCCCCEEECCCCEECCHHHHCCCCEEECCCC
4,1YK4A,52,AKLSCKXCGYXYDEDEGDPDNGXSPGTKFEDLPDDWVCPLCGAPKS...,CEEEECCCCCEEECCCCEHHHCECCCCCHHHCCCCCECCCCCCEHH...,CEEEECCCCCEEECCCCCHHHCCCCCCCHHHCCCCCCCCCCCCCHH...,EEEEECCCCCEEECCCCCHHHCCCCCCCHHHCCCCCCCCCCCCCHH...,CEEEECCCCCEEECCCCEHHHCCCCCCCHHHCCCCCCCCCCCCEHH...,EEEEECCCCCEEECCCCCHHHCCCCCCCHHHCCCCCCCCCCCCCHH...
...,...,...,...,...,...,...,...,...
11855,2DO0A,114,GSSGSSGALQAGRLGSTVFVANLDYKVGWKKLKEVFSMAGVVVRAD...,CCCCCCCCCCCCCCCCCEEEECCCCCCCHHHHHHHHCCCCCEEEEE...,CCCCCCCCCCCCCCCCCEEEECCCCCCCHHHHHHHHCCCCCEEEEE...,CCCCCCCCCCCCCCCCCEEEECCCCCCCHHHHHHHHCCCCCEEEEE...,CCCCCCCCCCCCCCCCCEEEECCCCCCCHHHHHHHHCCCCCEEEEE...,CCCCCCCCCCCCCCCCCEEEECCCCCCCHHHHHHHHCCCCCEEEEE...
11856,1TTEA,215,SSRAKRXMKEXQAVKDDPAAHXTLEFVSESDXHHLKGTFLGPPGTP...,CCCHHHHHHHHHHHHCCCCCCCEECCCCCCCCCEEEEECCEEEEEC...,CCCHHHHHHHHHHHHCCCCCCCEECCCCCCCCCEEEEECCEEEEEC...,CCCHHHHHHHHHHHHCCCCCCCCCCCCCCCCCCEEEEEEEEEEEEE...,CCCHHHHHHHHHHHHCCCCCCCEECCCCCCCCCEEEEECCEEEEEC...,CCCHHHHHHHHHHHHCCCCCCCEECCCCCCCCCEEEEECCEEEEEC...
11857,3LVGE,116,XXXXXXXXXXXXXXXAQADRLTQEPESXRKWREEQRKRLQELDAAS...,CCCHHHCCCCCCCCCCCCCCCCCCCCHHHHHHHHHCCCCCHHHHHH...,CCCHHHCCCCCCCCCCCCCCCCCCCCHHHHHHHHHCCCCCHHHHHH...,CCCHHHCCCCCCCCCCCCCCCCCCCCHHHHHHHHHCCCCCHHHHHH...,CCCHHHCCCCCCCCCCCCCCCCCCCCHHHHHHHHHCCCCCHHHHHH...,CCCHHHCCCCCCCCCCCCCCCCCCCCHHHHHHHHHCCCCCHHHHHH...
11858,3LVGB,553,NTSAVQVLXEHXGNLDRAYEFAERCNEPAVWSQLAKAQLQKGMVKE...,CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCHHHHCCCCCCCHH...,CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCHHHHCCCCCCCHH...,CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCHHHHCCCCCCCHH...,CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCHHHHCCCCCCCHH...,CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCHHHHCCCCCCCHH...
11859,3LVGD,180,XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX...,CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCHHHHCCCCCHH...,CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCHHHHCCCCCHH...,CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCHHHHCCCCCHH...,CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCHHHHCCCCCHH...,CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCHHHHCCCCCHH...

#### Weighted functions

In [207]:
import numpy as np

def weighted_choose_5(arr):
    uniqs = list(set(arr))
    scores = (np.zeros_like(uniqs, dtype=int)).tolist() # has to be normal list to rewrite elements
    #print(scores)
    weights = {0: 0.25, 1:0.5, 2:0.65, 3:0.5, 4:0.25}
    for i in range(0, len(uniqs)):
        for j in range(0, len(arr)):
            if uniqs[i] == "X":
                pass
            elif uniqs[i] == arr[j]:
                scores[i] += weights[j]
                #print("match", arr[j], uniqs[i], scores[i])
    #print(scores)
    return uniqs[np.argmax(scores)]


def weighted_choose_3(arr):
    uniqs = list(set(arr))
    scores = (np.zeros_like(uniqs, dtype=int)).tolist()# has to be normal list to rewrite elements
    #print(scores)
    weights = {0: 0.3, 1:0.45, 2:0.3}
    for i in range(0, len(uniqs)):
        for j in range(0, len(arr)):
            if uniqs[i] == "X":
                pass
            elif uniqs[i] == arr[j]:
                scores[i] += weights[j]
                #print("match", arr[j], uniqs[i], scores[i])
    #print(scores)
    return uniqs[np.argmax(scores)]


def weighted_5(arr1, arr2):
    new_str=""
    #first element
    temp = "XX" + arr2[:3]
    new_str+=weighted_choose_5(temp)
    #second element
    temp = "X" + arr2[:4]
    new_str+=weighted_choose_5(temp)
    #others
    for i in range(2, len(arr1)-2):
        temp = arr2[i-2:i+3]
        new_str+=weighted_choose_5(temp)
        
    #seond last element
    temp = arr2[-4:] +"X"
    new_str+=weighted_choose_5(temp)
    #last element
    temp = arr2[-3:] +"XX"
    new_str+=weighted_choose_5(temp)
    
    return new_str

def weighted_3(arr1, arr2):
    new_str=""
    #first element
    temp = "X"+ arr2[:2]
    new_str+=weighted_choose_3(temp)
    #others
    for i in range(1, len(arr1)-1):
        temp = arr2[i-1:i+2]
        new_str+=weighted_choose_3(temp)
    #last element
    temp = arr2[-2:]+ "X"
    new_str+=weighted_choose_3(temp)
    
    return new_str

In [432]:
import numpy as np

# change so that the 2 edges are not devalued
def weighted_choose_5_2nd(arr):
    uniqs = list(set(arr))
    scores = (np.zeros_like(uniqs, dtype=int)).tolist() # has to be normal list to rewrite elements
    #print(scores)
    weights = {0: 0.25, 1:0.25, 2:0.4, 3:0.25, 4:0.25}
    for i in range(0, len(uniqs)):
        for j in range(0, len(arr)):
            if uniqs[i] == "X":
                pass
            elif uniqs[i] == arr[j]:
                scores[i] += weights[j]
                #print("match", arr[j], uniqs[i], scores[i])
    #print(scores)
    return uniqs[np.argmax(scores)]

def weighted_5_2nd(arr1, arr2):
    new_str=""
    #first element
    temp = "XX" + arr2[:3]
    new_str+=weighted_choose_5_2nd(temp)
    #second element
    temp = "X" + arr2[:4]
    new_str+=weighted_choose_5_2nd(temp)
    #others
    for i in range(2, len(arr1)-2):
        temp = arr2[i-2:i+3]
        new_str+=weighted_choose_5_2nd(temp)
        
    #seond last element
    temp = arr2[-4:] +"X"
    new_str+=weighted_choose_5_2nd(temp)
    #last element
    temp = arr2[-3:] +"XX"
    new_str+=weighted_choose_5_2nd(temp)
    
    return new_str

In [433]:
import numpy as np

# change so that bigger gap between middle and sides
def weighted_choose_5_3rd(arr):
    uniqs = list(set(arr))
    scores = (np.zeros_like(uniqs, dtype=int)).tolist() # has to be normal list to rewrite elements
    #print(scores)
    weights = {0: 0.17, 1:0.2, 2:0.4, 3:0.2, 4:0.17}
    for i in range(0, len(uniqs)):
        for j in range(0, len(arr)):
            if uniqs[i] == "X":
                pass
            elif uniqs[i] == arr[j]:
                scores[i] += weights[j]
                #print("match", arr[j], uniqs[i], scores[i])
    #print(scores)
    return uniqs[np.argmax(scores)]

def weighted_5_3rd(arr1, arr2):
    new_str=""
    #first element
    temp = "XX" + arr2[:3]
    new_str+=weighted_choose_5_3rd(temp)
    #second element
    temp = "X" + arr2[:4]
    new_str+=weighted_choose_5_3rd(temp)
    #others
    for i in range(2, len(arr1)-2):
        temp = arr2[i-2:i+3]
        new_str+=weighted_choose_5_3rd(temp)
        
    #seond last element
    temp = arr2[-4:] +"X"
    new_str+=weighted_choose_5_3rd(temp)
    #last element
    temp = arr2[-3:] +"XX"
    new_str+=weighted_choose_5_3rd(temp)
    
    return new_str

In [208]:
#testing for mistake
china = np.array([0.5, 0.5, 0.3, 0.3, 0.5])
china = np.array(["A", "B", "A", "A"])
uniqs = list(set(china))
print(uniqs)

['B', 'A']

In [209]:
print(weighted_choose_5(["D", "D", "T", "P", "Y"]))

D

In [210]:
print(weighted_choose_3(["null", "T", "D"]))

T

In [211]:
t3 = weighted_3(a, s)
print(t3, len(t3))

CCCCCCCCCCCHHHHHHCCCCCHHHCCHHHHCCCCCCHHHCCHHHECCEEEEEEECCEEEECCCCCCEEECCCCCCCCCCCCC 83

In [212]:
t5 = weighted_5(a, s)
print(t5, len(t5)) #error here

CCCCCCCCCCCHHHHHHCCCCCHHHCCHHHHCCCCCCHHHCCHHHCCCEEEEEEECCEEEECCCCCCEEECCCCCCCCCCCCC 83

In [213]:
df["SS_3_weighted"] = df.apply(lambda row: weighted_3(row.AA_seq, row.SS), axis=1)

In [214]:
df["SS_5_weighted"] = df.apply(lambda row: weighted_5(row.AA_seq, row.SS), axis=1)

In [434]:
df["SS_5_attempt_two_weighted"] = df.apply(lambda row: weighted_5_2nd(row.AA_seq, row.SS), axis=1)

In [435]:
df["SS_5_attempt_three_weighted"] = df.apply(lambda row: weighted_5_3rd(row.AA_seq, row.SS), axis=1)

In [436]:
df

,PDB,AA_len,AA_seq,SS,SS_3_window_unweighted,SS_5_window_unweighted,SS_3_weighted,SS_5_weighted,SS_5_attempt_two_weighted,SS_5_attempt_three_weighted
0,3A38A,83,AAPANAVTADDPTAXALKYNQDATKSERVAAARPGLPPEEQHCANC...,CCCCCECCCCCHHHHHHCCECCHHHCCHHHHCCCCCCHHHCCHHHE...,CCCCCCCCCCCHHHHHHCCCCCHHHCCHHHHCCCCCCHHHCCHHHC...,CCCCCCCCCCCHHHHHHCCCCCHHHHHHHHHCCCCCCHHHHHHHHC...,CCCCCCCCCCCHHHHHHCCCCCHHHCCHHHHCCCCCCHHHCCHHHE...,CCCCCCCCCCCHHHHHHCCCCCHHHCCHHHHCCCCCCHHHCCHHHC...,CCCCCCCCCCCHHHHHHCCCCCHHHHHHHHHCCCCCCHHHHHHHHC...,CCCCCCCCCCCHHHHHHCCCCCHHHCCHHHHCCCCCCHHHCCHHHE...
1,2VB1A,129,KVFGRCELAAAMKRHGLDNYRGYSLGNWVCAAKFESNFNTQATNRN...,CECCHHHHHHHHHHCCCCCECCECHHHHHHHHHHHHCCECCCEEEC...,CCCCHHHHHHHHHHCCCCCCCCCCHHHHHHHHHHHHCCCCCCEEEC...,CCCCHHHHHHHHHHCCCCCCCCCCHHHHHHHHHHHHCCCCCCEEEC...,CCCCHHHHHHHHHHCCCCCCCCCCHHHHHHHHHHHHCCCCCCEEEC...,CCCCHHHHHHHHHHCCCCCCCCCCHHHHHHHHHHHHCCCCCCEEEC...,CCCCHHHHHHHHHHCCCCCCCCCCHHHHHHHHHHHHCCCCCCEEEC...,CCCCHHHHHHHHHHCCCCCCCCCCHHHHHHHHHHHHCCCCCCEEEC...
2,1R6JA,82,GAMDPRTXTMHKDSTGHVGFXFKNGKXTSXVKDSSAARNGLLTEHN...,CCCCCEEEEEECCCCCCCCEEEECCEEEEECCCCHHHHHCCCCCEE...,CCCCCEEEEEECCCCCCCCEEEECCEEEEECCCCHHHHHCCCCCEE...,CCCCCEEEEEECCCCCCCCEEEEEEEEEEECCCCHHHHHCCCCCEE...,CCCCCEEEEEECCCCCCCCEEEECCEEEEECCCCHHHHHCCCCCEE...,CCCCCEEEEEECCCCCCCCEEEECCEEEEECCCCHHHHHCCCCCEE...,CCCCCEEEEEECCCCCCCCEEEEEEEEEEECCCCHHHHHCCCCCEE...,CCCCCEEEEEECCCCCCCCEEEECCEEEEECCCCHHHHHCCCCCEE...
3,1P9GA,41,XTCASRCPRPCNAGLCCSXYGYCGSGAAYCGAGNCRCQCRG,CCHHHHCCCCCCCCCEEECCCCEECCHHHHCCCCEEECCCC,CCHHHHCCCCCCCCCEEECCCCEECCHHHHCCCCEEECCCC,CCHHHHCCCCCCCCCEEECCCCCCCCHHHHCCCCEEECCCC,CCHHHHCCCCCCCCCEEECCCCEECCHHHHCCCCEEECCCC,CCHHHHCCCCCCCCCEEECCCCEECCHHHHCCCCEEECCCC,CCHHHHCCCCCCCCCEEECCCCCCCCHHHHCCCCEEECCCC,CCHHHHCCCCCCCCCEEECCCCEECCHHHHCCCCEEECCCC
4,1YK4A,52,AKLSCKXCGYXYDEDEGDPDNGXSPGTKFEDLPDDWVCPLCGAPKS...,CEEEECCCCCEEECCCCEHHHCECCCCCHHHCCCCCECCCCCCEHH...,CEEEECCCCCEEECCCCCHHHCCCCCCCHHHCCCCCCCCCCCCCHH...,EEEEECCCCCEEECCCCCHHHCCCCCCCHHHCCCCCCCCCCCCCHH...,CEEEECCCCCEEECCCCEHHHCCCCCCCHHHCCCCCCCCCCCCEHH...,EEEEECCCCCEEECCCCCHHHCCCCCCCHHHCCCCCCCCCCCCCHH...,EEEEECCCCCEEECCCCCHHHCCCCCCCHHHCCCCCCCCCCCCCHH...,CEEEECCCCCEEECCCCEHHHCCCCCCCHHHCCCCCCCCCCCCEHH...
...,...,...,...,...,...,...,...,...,...,...
11855,2DO0A,114,GSSGSSGALQAGRLGSTVFVANLDYKVGWKKLKEVFSMAGVVVRAD...,CCCCCCCCCCCCCCCCCEEEECCCCCCCHHHHHHHHCCCCCEEEEE...,CCCCCCCCCCCCCCCCCEEEECCCCCCCHHHHHHHHCCCCCEEEEE...,CCCCCCCCCCCCCCCCCEEEECCCCCCCHHHHHHHHCCCCCEEEEE...,CCCCCCCCCCCCCCCCCEEEECCCCCCCHHHHHHHHCCCCCEEEEE...,CCCCCCCCCCCCCCCCCEEEECCCCCCCHHHHHHHHCCCCCEEEEE...,CCCCCCCCCCCCCCCCCEEEECCCCCCCHHHHHHHHCCCCCEEEEE...,CCCCCCCCCCCCCCCCCEEEECCCCCCCHHHHHHHHCCCCCEEEEE...
11856,1TTEA,215,SSRAKRXMKEXQAVKDDPAAHXTLEFVSESDXHHLKGTFLGPPGTP...,CCCHHHHHHHHHHHHCCCCCCCEECCCCCCCCCEEEEECCEEEEEC...,CCCHHHHHHHHHHHHCCCCCCCEECCCCCCCCCEEEEECCEEEEEC...,CCCHHHHHHHHHHHHCCCCCCCCCCCCCCCCCCEEEEEEEEEEEEE...,CCCHHHHHHHHHHHHCCCCCCCEECCCCCCCCCEEEEECCEEEEEC...,CCCHHHHHHHHHHHHCCCCCCCEECCCCCCCCCEEEEECCEEEEEC...,CCCHHHHHHHHHHHHCCCCCCCCCCCCCCCCCCEEEEEEEEEEEEE...,CCCHHHHHHHHHHHHCCCCCCCEECCCCCCCCCEEEEECCEEEEEC...
11857,3LVGE,116,XXXXXXXXXXXXXXXAQADRLTQEPESXRKWREEQRKRLQELDAAS...,CCCHHHCCCCCCCCCCCCCCCCCCCCHHHHHHHHHCCCCCHHHHHH...,CCCHHHCCCCCCCCCCCCCCCCCCCCHHHHHHHHHCCCCCHHHHHH...,CCCHHHCCCCCCCCCCCCCCCCCCCCHHHHHHHHHCCCCCHHHHHH...,CCCHHHCCCCCCCCCCCCCCCCCCCCHHHHHHHHHCCCCCHHHHHH...,CCCHHHCCCCCCCCCCCCCCCCCCCCHHHHHHHHHCCCCCHHHHHH...,CCCHHHCCCCCCCCCCCCCCCCCCCCHHHHHHHHHCCCCCHHHHHH...,CCCHHHCCCCCCCCCCCCCCCCCCCCHHHHHHHHHCCCCCHHHHHH...
11858,3LVGB,553,NTSAVQVLXEHXGNLDRAYEFAERCNEPAVWSQLAKAQLQKGMVKE...,CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCHHHHCCCCCCCHH...,CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCHHHHCCCCCCCHH...,CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCHHHHCCCCCCCHH...,CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCHHHHCCCCCCCHH...,CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCHHHHCCCCCCCHH...,CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCHHHHCCCCCCCHH...,CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCHHHHCCCCCCCHH...
11859,3LVGD,180,XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX...,CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCHHHHCCCCCHH...,CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCHHHHCCCCCHH...,CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCHHHHCCCCCHH...,CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCHHHHCCCCCHH...,CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCHHHHCCCCCHH...,CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCHHHHCCCCCHH...,CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCHHHHCCCCCHH...

##### formatting into tables

In [437]:
egdf = pd.read_csv("./Assignment 4 attached files 20 April 2023 312 PM/trainCounts.txt", sep="\t", header=None)
egdf['AA'] = egdf[0].astype(str).str[0]
egdf['SS'] = egdf[0].astype(str).str[1]
egdf = egdf.drop(columns=[0])
egdf = egdf.rename({1: "count"}, axis=1)
egdf["count"] =0
egdf.head(10)

   count AA SS
0      0  A  C
1      0  A  E
2      0  A  H
3      0  C  C
4      0  C  E
5      0  C  H
6      0  D  C
7      0  D  E
8      0  D  H
9      0  E  C

In [438]:
AAs = pd.unique(egdf['AA'])
SSs = pd.unique(egdf['SS'])

In [233]:
# takes too long
def making_counts_slow(df, var, outdf):
    for index, row in df.iterrows():
        AA_str = row["AA_seq"]
        SS_str = row[var]
        for i in range(0, len(AA_str)):
            outdf["count"].loc[(outdf['AA'] == AA_str[i]) & (outdf['SS'] == SS_str[i])] +=1
    return outdf

In [439]:
def making_counts(df, var, outdf):
    counts = {}
    
    AAs = pd.unique(outdf['AA'])
    CHE = ["C", "H", "E"]
    for ak in AAs:
        for che in CHE:   
            counts[ak+che] = 0
    for index, row in df.iterrows():
        AA_str = row["AA_seq"]
        SS_str = row[var]
        for i in range(0, len(AA_str)):
            key = AA_str[i] + SS_str[i]
            counts[key] +=1
    for k in counts:
        c = counts[k]
        aa = k[0]
        ss = k[1]
        outdf["count"].loc[(outdf['AA'] == aa) & (outdf['SS'] == ss)] = c
                
    return outdf

In [259]:
weighted_5_count_df = making_counts(df, "SS_5_weighted", egdf)

C:\Users\User\AppData\Local\Temp\ipykernel_22652\1143524531.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  outdf["count"].loc[(outdf['AA'] == aa) & (outdf['SS'] == ss)] = c

In [260]:
weighted_5_count_df

     count AA SS
0    70705  A  C
1    37416  A  E
2   119392  A  H
3    15240  C  C
4    10646  C  E
5    12133  C  H
6    89959  D  C
7    19645  D  E
8    57074  D  H
9    67611  E  C
10   29755  E  E
11  100123  E  H
12   36271  F  C
13   34962  F  E
14   45740  F  H
15  129283  G  C
16   28776  G  E
17   39643  G  H
18   29124  H  C
19   13859  H  E
20   22918  H  H
21   66183  K  C
22   28947  K  E
23   73502  K  H
24   74138  L  C
25   64201  L  E
26  137350  L  H
27   15596  M  C
28   10314  M  E
29   22961  M  H
30   69166  N  C
31   16315  N  E
32   38064  N  H
33   90888  P  C
34   11939  P  E
35   25873  P  H
36   38868  Q  C
37   18107  Q  E
38   53716  Q  H
39   52978  R  C
40   29107  R  E
41   67149  R  H
42   86675  S  C
43   31513  S  E
44   57096  S  H
45   67736  T  C
46   40348  T  E
47   46497  T  H
48   51574  V  C
49   80714  V  E
50   67183  V  H
51   11896  W  C
52   11141  W  E
53   16229  W  H
54   50756  X  C
55   63135  X  E
56   84180  X  H
57   31752  Y  C
58   31083  Y  E
59   38656  Y  H

In [261]:
weighted_3_count_df = making_counts(df, "SS_3_weighted", egdf)

C:\Users\User\AppData\Local\Temp\ipykernel_22652\1143524531.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  outdf["count"].loc[(outdf['AA'] == aa) & (outdf['SS'] == ss)] = c

In [262]:
weighted_3_count_df

     count AA SS
0    71690  A  C
1    37333  A  E
2   118490  A  H
3    15427  C  C
4    10683  C  E
5    11909  C  H
6    91069  D  C
7    19748  D  E
8    55861  D  H
9    68296  E  C
10   29678  E  E
11   99515  E  H
12   36554  F  C
13   35051  F  E
14   45368  F  H
15  131174  G  C
16   28760  G  E
17   37768  G  H
18   29513  H  C
19   13870  H  E
20   22518  H  H
21   66918  K  C
22   28885  K  E
23   72829  K  H
24   74956  L  C
25   64343  L  E
26  136390  L  H
27   16100  M  C
28   10074  M  E
29   22697  M  H
30   70085  N  C
31   16425  N  E
32   37035  N  H
33   91200  P  C
34   12009  P  E
35   25491  P  H
36   39282  Q  C
37   18117  Q  E
38   53292  Q  H
39   53585  R  C
40   29177  R  E
41   66472  R  H
42   88008  S  C
43   31663  S  E
44   55613  S  H
45   68308  T  C
46   40748  T  E
47   45525  T  H
48   52048  V  C
49   80744  V  E
50   66679  V  H
51   11991  W  C
52   11156  W  E
53   16119  W  H
54   51386  X  C
55   63096  X  E
56   83589  X  H
57   31999  Y  C
58   31149  Y  E
59   38343  Y  H

In [263]:
unweighted_5_count_df = making_counts(df, "SS_5_window_unweighted", egdf)

C:\Users\User\AppData\Local\Temp\ipykernel_22652\1143524531.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  outdf["count"].loc[(outdf['AA'] == aa) & (outdf['SS'] == ss)] = c

In [264]:
unweighted_5_count_df

     count AA SS
0    69716  A  C
1    37482  A  E
2   120315  A  H
3    15320  C  C
4    10361  C  E
5    12338  C  H
6    85945  D  C
7    22158  D  E
8    58575  D  H
9    66722  E  C
10   29967  E  E
11  100800  E  H
12   36737  F  C
13   33897  F  E
14   46339  F  H
15  121156  G  C
16   35228  G  E
17   41318  G  H
18   28785  H  C
19   13756  H  E
20   23360  H  H
21   65734  K  C
22   28633  K  E
23   74265  K  H
24   74049  L  C
25   62555  L  E
26  139085  L  H
27   15559  M  C
28    9997  M  E
29   23315  M  H
30   65483  N  C
31   18773  N  E
32   39289  N  H
33   89164  P  C
34   12665  P  E
35   26871  P  H
36   38522  Q  C
37   17907  Q  E
38   54262  Q  H
39   52821  R  C
40   28572  R  E
41   67841  R  H
42   84872  S  C
43   31612  S  E
44   58800  S  H
45   67549  T  C
46   39320  T  E
47   47712  T  H
48   53534  V  C
49   78069  V  E
50   67868  V  H
51   12077  W  C
52   10782  W  E
53   16407  W  H
54   51472  X  C
55   60689  X  E
56   85910  X  H
57   32239  Y  C
58   30150  Y  E
59   39102  Y  H

In [265]:
unweighted_3_count_df = making_counts(df, "SS_3_window_unweighted", egdf)

C:\Users\User\AppData\Local\Temp\ipykernel_22652\1143524531.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  outdf["count"].loc[(outdf['AA'] == aa) & (outdf['SS'] == ss)] = c

In [255]:
unweighted_3_count_df

     count AA SS
0    71816  A  C
1    37207  A  E
2   118490  A  H
3    15503  C  C
4    10607  C  E
5    11909  C  H
6    91286  D  C
7    19531  D  E
8    55861  D  H
9    68375  E  C
10   29599  E  E
11   99515  E  H
12   36747  F  C
13   34858  F  E
14   45368  F  H
15  131289  G  C
16   28645  G  E
17   37768  G  H
18   29582  H  C
19   13801  H  E
20   22518  H  H
21   67083  K  C
22   28720  K  E
23   72829  K  H
24   75285  L  C
25   64014  L  E
26  136390  L  H
27   16143  M  C
28   10031  M  E
29   22697  M  H
30   70315  N  C
31   16195  N  E
32   37035  N  H
33   91384  P  C
34   11825  P  E
35   25491  P  H
36   39366  Q  C
37   18033  Q  E
38   53292  Q  H
39   53761  R  C
40   29001  R  E
41   66472  R  H
42   88358  S  C
43   31313  S  E
44   55613  S  H
45   68844  T  C
46   40212  T  E
47   45525  T  H
48   52226  V  C
49   80566  V  E
50   66679  V  H
51   12028  W  C
52   11119  W  E
53   16119  W  H
54   51552  X  C
55   62930  X  E
56   83589  X  H
57   32114  Y  C
58   31034  Y  E
59   38343  Y  H

In [441]:
attempt2_5_count_df = making_counts(df, "SS_5_attempt_two_weighted", egdf)
attempt3_5_count_df = making_counts(df, "SS_5_attempt_three_weighted", egdf)

C:\Users\User\AppData\Local\Temp\ipykernel_22652\1143524531.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  outdf["count"].loc[(outdf['AA'] == aa) & (outdf['SS'] == ss)] = c

In [443]:
all_dfs = [unweighted_3_count_df, unweighted_5_count_df, weighted_3_count_df, weighted_5_count_df, attempt2_5_count_df, attempt3_5_count_df]

In [454]:
df_names = ["unweighted predictor using 3 nearest amino acids", "unweighted predictor using 5 nearest amino acids", "weighted predictor using 3 nearest amino acids", "weighted predictor using 5 nearest amino acids", "weighted predictor 5 nearest (all edges equal)", "weighted predictor 5 nearest (edit to slope of desscent)"]

#### testing results for each db

In [445]:
from statistics import mean

def stats_dfs(df, df2, name):
    print(f"currently doing: {name}")
    
    results_df =pd.DataFrame({'Amino Acid': pd.Series(dtype='str'), 'Secondary Structure': pd.Series(dtype='str'),'percentage frequency of AA being SS': pd.Series(dtype='float')})
    
    aavals = pd.unique(df['AA'])

    def get_perc(m, arr):
        return m/sum(arr)


    for index, row in df.iterrows():
        #print(row['c1'], row['c2'])

        val = row["count"]
        aa = row["AA"]
        ss = row["SS"]

        temp_df = df.loc[df["AA"]==aa]
        arr3 = temp_df["count"].values.tolist()

        results_df.loc[len(results_df.index)] = [aa, ss, str(100 * get_perc(val, arr3))[:7] + "%"]


    AAs = pd.unique(df2['AA'])


    accurs = []

    def get_accuracy(correct, arr):
        return correct/(sum(arr))

    for i in AAs:
        temp_df = df2.loc[df2["AA"]==i]
        arr1 = temp_df["count"].values.tolist()
        guess = guessmap[i]
        gcount = temp_df["count"].loc[temp_df["SS"]==guess].values[0]

        accurs.append((get_accuracy(gcount, arr1)))


    print(f"accuracy score test set: {mean(accurs)}")

    print(f"accuracy score train set: {mean(results)}")

In [446]:
df2 = pd.read_csv("./Assignment 4 attached files 20 April 2023 312 PM/testCounts.txt", sep="\t", header=None)
df2['AA'] = df2[0].astype(str).str[0]
df2['SS'] = df2[0].astype(str).str[1]
df2 = df2.drop(columns=[0])
df2 = df2.rename({1: "count"}, axis=1)
df2.head(5)

   count AA SS
0  23940  A  C
1  12858  A  E
2  39188  A  H
3   5056  C  C
4   3742  C  E

###### testing in counts format

In [447]:
for m in range(len(all_dfs)):
    model = all_dfs[m]
    name = df_names[m]
    stats_dfs(model, df2, name)
    print("\n")

currently doing: unweighted predictor using 3 nearest amino acids
accuracy score test set: 0.47714055449994286
accuracy score train set: 0.47963121982586604


currently doing: unweighted predictor using 5 nearest amino acids
accuracy score test set: 0.47714055449994286
accuracy score train set: 0.47963121982586604


currently doing: weighted predictor using 3 nearest amino acids
accuracy score test set: 0.47714055449994286
accuracy score train set: 0.47963121982586604


currently doing: weighted predictor using 5 nearest amino acids
accuracy score test set: 0.47714055449994286
accuracy score train set: 0.47963121982586604


currently doing: weighted predictor 5 nearest variaation 1 (all edges equal)
accuracy score test set: 0.47714055449994286
accuracy score train set: 0.47963121982586604


currently doing: weighted predictor 5 nearest variation 2 (edit to slope of desscent)
accuracy score test set: 0.47714055449994286
accuracy score train set: 0.47963121982586604

###### testing string accuracy

In [449]:
colsA = ["SS_3_window_unweighted", "SS_5_window_unweighted", "SS_3_weighted", "SS_5_weighted", "SS_5_attempt_two_weighted", "SS_5_attempt_three_weighted"]

In [448]:
df.head(2)

,PDB,AA_len,AA_seq,SS,SS_3_window_unweighted,SS_5_window_unweighted,SS_3_weighted,SS_5_weighted,SS_5_attempt_two_weighted,SS_5_attempt_three_weighted
0,3A38A,83,AAPANAVTADDPTAXALKYNQDATKSERVAAARPGLPPEEQHCANC...,CCCCCECCCCCHHHHHHCCECCHHHCCHHHHCCCCCCHHHCCHHHE...,CCCCCCCCCCCHHHHHHCCCCCHHHCCHHHHCCCCCCHHHCCHHHC...,CCCCCCCCCCCHHHHHHCCCCCHHHHHHHHHCCCCCCHHHHHHHHC...,CCCCCCCCCCCHHHHHHCCCCCHHHCCHHHHCCCCCCHHHCCHHHE...,CCCCCCCCCCCHHHHHHCCCCCHHHCCHHHHCCCCCCHHHCCHHHC...,CCCCCCCCCCCHHHHHHCCCCCHHHHHHHHHCCCCCCHHHHHHHHC...,CCCCCCCCCCCHHHHHHCCCCCHHHCCHHHHCCCCCCHHHCCHHHE...
1,2VB1A,129,KVFGRCELAAAMKRHGLDNYRGYSLGNWVCAAKFESNFNTQATNRN...,CECCHHHHHHHHHHCCCCCECCECHHHHHHHHHHHHCCECCCEEEC...,CCCCHHHHHHHHHHCCCCCCCCCCHHHHHHHHHHHHCCCCCCEEEC...,CCCCHHHHHHHHHHCCCCCCCCCCHHHHHHHHHHHHCCCCCCEEEC...,CCCCHHHHHHHHHHCCCCCCCCCCHHHHHHHHHHHHCCCCCCEEEC...,CCCCHHHHHHHHHHCCCCCCCCCCHHHHHHHHHHHHCCCCCCEEEC...,CCCCHHHHHHHHHHCCCCCCCCCCHHHHHHHHHHHHCCCCCCEEEC...,CCCCHHHHHHHHHHCCCCCCCCCCHHHHHHHHHHHHCCCCCCEEEC...

In [455]:
correct = 0
wrong = 0
for q in range(0, len(colsA)):
    name = df_names[q]
    guess_col = colsA[q]
    for index, row in df.iterrows():
        SS_str = row["SS"]
        pred_str = row[guess_col]

        for i in range(0, len(SS_str)):
            if SS_str[i] == pred_str[i]:
                correct+=1
            else:
                wrong+=1

    accuracy = correct/ (wrong+correct)

    print(f"{name} accuracy on string:\t {accuracy}")

unweighted predictor using 3 nearest amino acids accuracy on string:	 0.9861810853106716
unweighted predictor using 5 nearest amino acids accuracy on string:	 0.9704906822627497
weighted predictor using 3 nearest amino acids accuracy on string:	 0.976121676449473
weighted predictor using 5 nearest amino acids accuracy on string:	 0.9772773849513194
weighted predictor 5 nearest (all edges equal) accuracy on string:	 0.9731326814853036
weighted predictor 5 nearest (edit to slope of desscent) accuracy on string:	 0.9756682239863291

### Part C

In [377]:
def most_common(arr):
    return max(set(arr), key=arr.count)

def three_near_unweighted(arr1, arr2):
    new_str=""
    #first element
    temp = arr2[:2]
    new_str+=most_common(temp)
    #others
    for i in range(1, len(arr1)-1):
        temp = arr2[i-1:i+2]
        new_str+=most_common(temp)
    #last element
    temp = arr2[-2:]
    new_str+=most_common(temp)
    
    return new_str

In [402]:
aa_combinations_df_base =pd.DataFrame({'Amino Acid Combination': pd.Series(dtype='str'), 'Secondary Structure': pd.Series(dtype='str'),'count': pd.Series(dtype='int')})
aa_combinations_df_base

Empty DataFrame
Columns: [Amino Acid Combination, Secondary Structure, count]
Index: []

In [406]:
def making_counts(df, outdf):     # variables coming in
    
    #set up data holding 
    combos = [] # originally was dicitoinary to run faster but "not in"   statement did not work perfectly
    counts = {}
                
    for index, row in df.iterrows():
        AA_str = row["AA_seq"]
        SS_str = row["SS"]
        
        # edge case of first and last in string
        special_comb = ("-" +AA_str[:2] + SS_str[0])
        if special_comb not in combos:
            combos.append(special_comb) 
            counts[special_comb] = 1
        else:
            counts[special_comb] = counts.get(special_comb,0) + 1
        special_comb = (AA_str[-2:]+"-"+SS_str[-1])
            
        if special_comb not in combos:
            combos.append(special_comb)
            counts[special_comb] = 1
        else:
            counts[special_comb] = counts.get(special_comb,0) + 1
            
                    
        #normal string combinations
        for i in range(1, len(AA_str)-1):
            key = AA_str[i-1:i+2] + SS_str[i]
            if key not in combos:
                combos.append(key)
                counts[key] = 1
            else:
                counts[key] = counts.get(key,0) + 1
            
    
            
    # making the db
    for co in combos:
        aa = co[:3]
        ss = co[-1]
        
        outdf.loc[len(outdf.index)] = [aa, ss, 0]
    
    for k in counts:
        c = counts[k]
        aa = k[:3]
        ss = k[-1]
        
        outdf["count"].loc[(outdf['Amino Acid Combination'] == aa) & (outdf['Secondary Structure'] == ss)] = c
                
    return outdf

In [407]:
df.head(3)

,PDB,AA_len,AA_seq,SS,SS_3_window_unweighted,SS_5_window_unweighted,SS_3_weighted,SS_5_weighted
0,3A38A,83,AAPANAVTADDPTAXALKYNQDATKSERVAAARPGLPPEEQHCANC...,CCCCCECCCCCHHHHHHCCECCHHHCCHHHHCCCCCCHHHCCHHHE...,CCCCCCCCCCCHHHHHHCCCCCHHHCCHHHHCCCCCCHHHCCHHHC...,CCCCCCCCCCCHHHHHHCCCCCHHHHHHHHHCCCCCCHHHHHHHHC...,CCCCCCCCCCCHHHHHHCCCCCHHHCCHHHHCCCCCCHHHCCHHHE...,CCCCCCCCCCCHHHHHHCCCCCHHHCCHHHHCCCCCCHHHCCHHHC...
1,2VB1A,129,KVFGRCELAAAMKRHGLDNYRGYSLGNWVCAAKFESNFNTQATNRN...,CECCHHHHHHHHHHCCCCCECCECHHHHHHHHHHHHCCECCCEEEC...,CCCCHHHHHHHHHHCCCCCCCCCCHHHHHHHHHHHHCCCCCCEEEC...,CCCCHHHHHHHHHHCCCCCCCCCCHHHHHHHHHHHHCCCCCCEEEC...,CCCCHHHHHHHHHHCCCCCCCCCCHHHHHHHHHHHHCCCCCCEEEC...,CCCCHHHHHHHHHHCCCCCCCCCCHHHHHHHHHHHHCCCCCCEEEC...
2,1R6JA,82,GAMDPRTXTMHKDSTGHVGFXFKNGKXTSXVKDSSAARNGLLTEHN...,CCCCCEEEEEECCCCCCCCEEEECCEEEEECCCCHHHHHCCCCCEE...,CCCCCEEEEEECCCCCCCCEEEECCEEEEECCCCHHHHHCCCCCEE...,CCCCCEEEEEECCCCCCCCEEEEEEEEEEECCCCHHHHHCCCCCEE...,CCCCCEEEEEECCCCCCCCEEEECCEEEEECCCCHHHHHCCCCCEE...,CCCCCEEEEEECCCCCCCCEEEECCEEEEECCCCHHHHHCCCCCEE...

In [408]:
combs_df = making_counts(df, aa_combinations_df_base)

C:\Users\User\AppData\Local\Temp\ipykernel_22652\3593247651.py:50: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  outdf["count"].loc[(outdf['Amino Acid Combination'] == aa) & (outdf['Secondary Structure'] == ss)] = c

In [409]:
combs_df

      Amino Acid Combination Secondary Structure  count
0                        -AA                   C     78
1                        AG-                   C     57
2                        AAP                   C    524
3                        APA                   C    460
4                        PAN                   C    276
...                      ...                 ...    ...
24757                    -YM                   C      1
24758                    -CW                   C      1
24759                    CWC                   H      1
24760                    HCP                   H      1
24761                    QWC                   E      2

[24762 rows x 3 columns]

In [410]:
combs_df.loc[combs_df["Secondary Structure"] == "E"]

      Amino Acid Combination Secondary Structure  count
6                        NAV                   E    123
20                       YNQ                   E     26
46                       NCQ                   E     14
49                       FMQ                   E      9
50                       MQA                   E     27
...                      ...                 ...    ...
24733                    PPW                   E      1
24736                    HCM                   E      2
24743                    SPP                   E      1
24756                    KPP                   E      1
24761                    QWC                   E      2

[7992 rows x 3 columns]

In [411]:
combs_df.loc[combs_df["Secondary Structure"] == "H"]

      Amino Acid Combination Secondary Structure  count
12                       DPT                   H    101
13                       PTA                   H    121
14                       TAX                   H    418
15                       AXA                   H   1039
16                       XAL                   H    701
...                      ...                 ...    ...
24749                    DCP                   H      2
24750                    CDP                   H      2
24755                    CCW                   H      1
24759                    CWC                   H      1
24760                    HCP                   H      1

[7991 rows x 3 columns]

In [412]:
print("counts for C", combs_df["Secondary Structure"].value_counts()["C"])
print("counts for E", combs_df["Secondary Structure"].value_counts()["E"])
print("counts for H", combs_df["Secondary Structure"].value_counts()["H"])
# DEFAULT CAN BE C

counts for C 8779
counts for E 7992
counts for H 7991

#### testing

In [396]:
test_SS = load_txt('./Assignment 4 attached files 20 April 2023 312 PM/testSS.txt')

cols_SS = test_SS.split(" ")
new_text_test = "\n".join([ ", ".join(cols_SS[i:i+4]) for i in range(0, len(cols), 4)])

new_text_test = new_text_test.replace("\t", "" )

data_test = StringIO(new_text_test)

test_SS_df = pd.read_csv(data_test, sep=", ", header=None)

test_SS_df = test_SS_df.rename(columns={0: 'PDB', 1:"AA_len", 2:"AA_seq", 3:"SS"})

C:\Users\User\AppData\Local\Temp\ipykernel_22652\2092065564.py:10: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  test_SS_df = pd.read_csv(data_test, sep=", ", header=None)

In [397]:
test_SS_df

,PDB,AA_len,AA_seq,SS
0,1EJGA,46,TTCCPSXVARSNFNVCRLPGTPEALCATYTGCXXXPGATCPGDYAN,CEECCCHHHHHHHHHHHCCCCCHHHHHHHHCCEECCCCCCCCCCCC
1,1US0A,313,MASRXLLNNGAKMPXLGLGTWKSPPGQVTEAVKVAXDVGYRHXDCA...,CCCEEECCCCCEEECECEECCCCCHHHHHHHHHHHHHHCCCEEECC...
2,4I8HA,223,XVGGYTCGANTVPYQVSLNSGYHFCGGSLXNSQWVVSAAHCYKSGX...,CECCEECCCCCCCCEEEEECCCEEEEEEECCCCEEEECHHHCCCCC...
3,2WFIA,172,QRPRCFFDXAXNNQPAGRVVFELFSDVCPKTCENFRCLCTGEKGTG...,CCCEEEEEEEECCEEEEEEEEEECCCCCHHHHHHHHHHHHCCCCEC...
4,1UCSA,64,NKASVVANQLXPXNTALTLXMMKAEVVTPMGXPAEEXPKLVGMQVN...,CCCEEEECCCECCCCECCHHHEEEECCCCCCCEHHHHHHHCCCEEC...
...,...,...,...,...
3949,2KYAA,34,MNKKNXLPQQGQPVXRLTAGQLSSQLAELSEEAL,CCCCCCCCCCCCHHHHHHHHHHHHHHHCCCCCCC
3950,2CTQA,112,GSSGSSGMDAXLNYRSEDTEDYYTLLGCDELSSVEQXLAEFKVRAL...,CCCCCCCCCCCCCCCCCCCCCHHHHCCCCCCCCHHHHHHHHHHHHH...
3951,1JJGA,102,MTVXKPSSRPRPRKNKNXKVNTYRTSAMDLSPGSVHEGXVYFKDGX...,CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCEEEEEEEEECCE...
3952,2L9XA,30,GNAACVXGCXGSCVXSEGXGSLVGTAFXLG,CCHHHHHHHCCHHHHHCCCCHHHHCCCCCC
3953,3LVGF,132,XXXXXXXXXXXXXXXXXXXXQADRLTQEPESXRKWREEQRKRLQEL...,CCHHHHHCCCCCCCCCCCCCCCCCCCCCCCCCHHHHHHHCCCCCHH...

In [399]:
combs_df.iloc[-10:]

      Amino Acid Combination Secondary Structure  count
26324                    MVC                   C      3
26325                    MMW                   C      1
26326                    WCW                   C      1
26327                    CCW                   H      1
26328                    KPP                   E      1
26329                    -YM                   C      1
26330                    -CW                   C      1
26331                    CWC                   H      1
26332                    HCP                   H      1
26333                    QWC                   E      2

In [416]:
predictions_map = {}

AA_combs = pd.unique(combs_df['Amino Acid Combination'])

for i in AA_combs:
    temp_df = combs_df.loc[combs_df['Amino Acid Combination']==i] # should only be 3
    #print(temp_df)
    arr1 = temp_df["count"].values.tolist()
    m = max(arr1)
    #print(m)
    
    most_common = temp_df["Secondary Structure"].loc[temp_df['count'] == m].values[0]
    #print(most_common)
    
    predictions_map[i] = most_common
    #break

In [417]:
predictions_map["-AA"]

'C'

In [421]:
test_SS_df["predicted_ss"] = ""

In [422]:
test_SS_df.head(3)

,PDB,AA_len,AA_seq,SS,predicted_ss
0,1EJGA,46,TTCCPSXVARSNFNVCRLPGTPEALCATYTGCXXXPGATCPGDYAN,CEECCCHHHHHHHHHHHCCCCCHHHHHHHHCCEECCCCCCCCCCCC,
1,1US0A,313,MASRXLLNNGAKMPXLGLGTWKSPPGQVTEAVKVAXDVGYRHXDCA...,CCCEEECCCCCEEECECEECCCCCHHHHHHHHHHHHHHCCCEEECC...,
2,4I8HA,223,XVGGYTCGANTVPYQVSLNSGYHFCGGSLXNSQWVVSAAHCYKSGX...,CECCEECCCCCCCCEEEEECCCEEEEEEECCCCEEEECHHHCCCCC...,

In [427]:
for index, row in test_SS_df.iterrows():
    new_str = ""
    AA_str = row["AA_seq"]
    #first element
    temp = "-"+ AA_str[:2]
    if temp in predictions_map:
        new_str+=predictions_map[temp]
    else:
        new_str+="C" # default to C if combination not in dictionary
    
    
    for i in range(1, len(AA_str)-1):
        temp = AA_str[i-1:i+2]
        if temp in predictions_map:
            new_str+=predictions_map[temp]
        else:
            new_str+="C" # default to C if combination not in dictionary
    #last element
    temp = AA_str[-2:]+ "-"
    if temp in predictions_map:
        new_str+=predictions_map[temp]
    else:
        new_str+="C" # default to C if combination not in dictionary

    test_SS_df.loc[index,"predicted_ss"]=new_str

In [428]:
test_SS_df

,PDB,AA_len,AA_seq,SS,predicted_ss
0,1EJGA,46,TTCCPSXVARSNFNVCRLPGTPEALCATYTGCXXXPGATCPGDYAN,CEECCCHHHHHHHHHHHCCCCCHHHHHHHHCCEECCCCCCCCCCCC,CCCCCCHEHHCCCCEEHCCCCHHHHHHHECCEEHCCCCECCCCHCC
1,1US0A,313,MASRXLLNNGAKMPXLGLGTWKSPPGQVTEAVKVAXDVGYRHXDCA...,CCCEEECCCCCEEECECEECCCCCHHHHHHHHHHHHHHCCCEEECC...,CHHHHHHCCCCHCCHHCCCCHHCCCCCECHHHEHEHECECHHCECH...
2,4I8HA,223,XVGGYTCGANTVPYQVSLNSGYHFCGGSLXNSQWVVSAAHCYKSGX...,CECCEECCCCCCCCEEEEECCCEEEEEEECCCCEEEECHHHCCCCC...,CECCCECCCCCCCCEEECCCCCEECCCCHHCCHHEECHHHEHHCCC...
3,2WFIA,172,QRPRCFFDXAXNNQPAGRVVFELFSDVCPKTCENFRCLCTGEKGTG...,CCCEEEEEEEECCEEEEEEEEEECCCCCHHHHHHHHHHHHCCCCEC...,CCCCEEHEHEHCCCCCCCEEEHHHCCECCCCECCHEHEHCCCCCCC...
4,1UCSA,64,NKASVVANQLXPXNTALTLXMMKAEVVTPMGXPAEEXPKLVGMQVN...,CCCEEEECCCECCCCECCHHHEEEECCCCCCCEHHHHHHHCCCEEC...,CHHHEEHCHHCCCCCHHEEHEHHHHEECCCCCCHHHCCCHECCECC...
...,...,...,...,...,...
3949,2KYAA,34,MNKKNXLPQQGQPVXRLTAGQLSSQLAELSEEAL,CCCCCCCCCCCCHHHHHHHHHHHHHHHCCCCCCC,CCCCCHCCCCCCCEEEHHCCCHCCHHHHHHHHHC
3950,2CTQA,112,GSSGSSGMDAXLNYRSEDTEDYYTLLGCDELSSVEQXLAEFKVRAL...,CCCCCCCCCCCCCCCCCCCCCHHHHCCCCCCCCHHHHHHHHHHHHH...,CCCCCCCCHHHHHCCCCCCCHHEEHHCCCHHCCHHHHHHHHEHHHH...
3951,1JJGA,102,MTVXKPSSRPRPRKNKNXKVNTYRTSAMDLSPGSVHEGXVYFKDGX...,CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCEEEEEEEEECCE...,CEEHCCCCCCCCCCCCCCECCCEHCCHHCCCCCCEHCCEEEHCCCE...
3952,2L9XA,30,GNAACVXGCXGSCVXSEGXGSLVGTAFXLG,CCHHHHHHHCCHHHHHCCCCHHHHCCCCCC,CCHHHEECEECCEEEHCCCCCHECCHHEHC
3953,3LVGF,132,XXXXXXXXXXXXXXXXXXXXQADRLTQEPESXRKWREEQRKRLQEL...,CCHHHHHCCCCCCCCCCCCCCCCCCCCCCCCCHHHHHHHCCCCCHH...,CHHHHHHHHHHHHHHHHHHHHCCHHHHCCCHHHHHHHHHHHHHHHH...

In [430]:
correct = 0
wrong = 0

for index, row in test_SS_df.iterrows():
    SS_str = row["SS"]
    pred_str = row["predicted_ss"]
    
    for i in range(0, len(SS_str)):
        if SS_str[i] == pred_str[i]:
            correct+=1
        else:
            wrong+=1

accuracy = correct/ (wrong+correct)

print(accuracy)

0.5639954561883617

In [456]:
for index, row in df.iterrows():
    new_str = ""
    AA_str = row["AA_seq"]
    #first element
    temp = "-"+ AA_str[:2]
    if temp in predictions_map:
        new_str+=predictions_map[temp]
    else:
        new_str+="C" # default to C if combination not in dictionary
    
    
    for i in range(1, len(AA_str)-1):
        temp = AA_str[i-1:i+2]
        if temp in predictions_map:
            new_str+=predictions_map[temp]
        else:
            new_str+="C" # default to C if combination not in dictionary
    #last element
    temp = AA_str[-2:]+ "-"
    if temp in predictions_map:
        new_str+=predictions_map[temp]
    else:
        new_str+="C" # default to C if combination not in dictionary

    df.loc[index,"predicted_ss_final"]=new_str

In [458]:
correct = 0
wrong = 0

for index, row in df.iterrows():
    SS_str = row["SS"]
    pred_str = row["predicted_ss_final"]
    
    for i in range(0, len(SS_str)):
        if SS_str[i] == pred_str[i]:
            correct+=1
        else:
            wrong+=1

accuracy = correct/ (wrong+correct)

print(accuracy)

0.5676293197762259